<%include commons/header.inc.html %>
<title>新增文章 - 文章管理</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal"<% if(isupdate){%> action="update"<%}else{%> action="add"<% }%> id="form-article-add" method="post" enctype="multipart/form-data">
		<% if(isupdate){%>
		<input type="hidden" name="_id" value="<%=_id %>" />
		<% }%>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" required value="<%= article ? article.title : '' %>" placeholder="请输入文章标题" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">简略标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%= article ? article.stitle : '' %>" placeholder="请输入简略标题，可不填" name="stitle">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="cid" class="select">
					<% catagory && catagory.forEach(function(item) { %>
					<option value="<%=item._id %>" <%= article ? (article.cid === item._id ? 'selected' : "") : '' %>><%=item.title %></option>
					<% }) %>
				</select>
				</span> </div>
		</div>
		<!--<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>文章类型：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="type" class="select">
					<option value="0">全部类型</option>
					<option value="1">帮助说明</option>
					<option value="2">新闻资讯</option>
				</select>
				</span> </div>
		</div>-->
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">排序值：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="number" class="input-text" value="<%= article ? article.order : '0' %>" min="0" placeholder="值越大越靠前" required name="order">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">关键词：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%= article ? article.keywords : '' %>" placeholder="多个请用英文逗号,分隔" name="keywords">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章摘要：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="abstract" class="textarea" maxlength="200" placeholder="说点什么...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)"><%= article ? article.abstract : '' %></textarea>
				<p class="textarea-numberbar"><em class="textarea-length"><%= article ? (article.abstract?article.abstract.length: 0) : '0' %></em>/200</p>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章作者：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="<%= article ? article.author : 'admin' %>" placeholder="请输入文章作者,默认为admin" name="author">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章来源：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" placeholder="http(s)://" value="<%= article ? article.source : '' %>" placeholder="请输入文章来源，如链接" name="source">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">允许评论：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<% if(article && article.allow_comment == 0) {%>
					<input type="checkbox" name="allow_comment" value="1" id="checkbox-pinglun">
					<% } else {%>
					<input type="checkbox" name="allow_comment" checked="checked" value="1" id="checkbox-pinglun">
					<% } %>
					<label for="checkbox-pinglun">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">缩略图：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" accept="image/*" placeholder="请输入文章作者,默认为admin" name="simg">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">文章内容：</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<script id="editor" type="text/plain" name="content" style="width:100%;height:400px;"></script> 
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">发布：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<% if(article && article.deploy_state == 0) {%>
					<input type="checkbox" name="deploy_state" value="1" id="checkbox-deploy">
					<% } else {%>
					<input type="checkbox" name="deploy_state" checked="checked" value="1" id="checkbox-deploy">
					<% } %>
					<label for="checkbox-deploy">&nbsp;</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交审核</button>
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<%include commons/footer.script.inc.html %>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/DatePicker/WdatePicker.js"></script>  
<script type="text/javascript" src="/static/lib/webuploader/0.1.5/webuploader.min.js"></script> 
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.config.js"></script> 
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/ueditor.all.js"> </script> 
<script type="text/javascript" src="/static/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	var ue = UE.getEditor('editor', {
		serverUrl: "/admin/ue/index.html",
		initialContent: '<%= article ? article.content : '' %>',
		autoClearinitialContent: false
	});
	
});

/**
 * 统计输入字数
 */
var countdown = null;
function textarealength(_this, maxcount) {
	countdown = countdown || $("em.textarea-length");
	var len = _this.value.length;
	if(len > maxcount) {
		len = maxcount;
		_this.value = _this.value.substr(0, maxcount);
	}
	countdown.html(len);
}

//检查表
function checkForm() {
	var errobj = null;
	$form.find("input, select, textarea").each(function() {
		var val = $(this).val();
		var name = $(this).attr("name");
		if(name === 'abstract' && val.length < 5) {
			alert("文章摘要不能少于5个字");
			errobj = $(this);
		}
		if(!val) errobj = $(this);
	});
	if(errobj) {
		errobj.focus();
		return false;
	}
	return true;
}

//取消并返回
function removeIframe() {
	if(confirm("该操作会清除已填写的信息，是否继续？")) {
		location.href = "/admin/article/list.html";
	}
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>